
<mat-toolbar color="primary">
  <i class="fa fa-car p-4" aria-hidden="true"> </i>
  <h1>Curso de conducir </h1>
  <span class="example-spacer"></span>
  <button  routerLink="/login" mat-raised-button color="accent" >
    Salir
  </button>
</mat-toolbar>

<div style="height:100% " class="mx-5 mt-4">

  <div class="d-flex justify-content-between">
    <button routerLink="/list2" mat-raised-button color="accent"><i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>

  </div>

  <div class="container mt-5">
    <div class="row">
        <div >
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO</span>
                    
                    <table *ngIf="usuarios.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Cédula</th>
                            <th scope="col">Fecha N</th>
                            <th scope="col">Gmail</th>
                            <th scope="col">Nivel Académico</th>
                            <th scope="col">Tipo de sangre</th>
                            <th scope="col">Tipo de licencia</th>
                           
                            <th scope="col">hh </th>
                            
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let usuario of usuarios; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ usuario.nombres }}</td>
                            <td>{{ usuario.apellidos }}</td>
                            <td>{{ usuario.cedula }}</td>
                            <td>{{ usuario.fechaNacimiento }}</td>
                            <td>{{ usuario.correoElectronic}}</td>
                            <td>{{ usuario.nivelAcademico }}</td>
                            <td>{{ usuario.tipoSangre }}</td>
                            <td>{{ usuario.tipoLicencia }}</td>
                            <td><button mat-icon-button  class="mx-2" color="accent"><i class="fa fa-picture-o"
                              aria-hidden="true"></i></button><!-- {{ usuario.fotoExamenPs }} --></td>

                            <td>
                               <!--  <i [routerLink]="['/editar', usuario._id]" class=" text-primary">apro</i>
                                -
                                <i [routerLink]="['/editar', usuario._id]" class=" text-primary">X</i> -->

                                <!-- <i (click)="eliminarCarro(carro._id)" class=" text-danger">Eliminar</i> -->
                                <button mat-icon-button  class="mx-2" color="warn"><i class="fa fa-times-circle-o"
                                  aria-hidden="true"></i></button>
                              <!-- <button mat-icon-button class="mx-2" color="accent"><i class="fa fa-pencil"
                                  aria-hidden="true"></i></button> -->
                                <button  mat-icon-button color="primary"><i class="fa fa-chevron-circle-down"
                                  aria-hidden="true"></i></button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="usuarios.length == 0">No hay registros que mostrar para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
  </div>


</div>







