
<mat-toolbar color="primary">
  <i class="fa fa-car p-4" aria-hidden="true"> </i>
  <h1>Curso de conducir </h1>
  <span class="example-spacer"></span>

</mat-toolbar>



  <div class="login-container">
    <form [formGroup]="loginForm" class="login-form" (submit)="login()">
      <h2>Iniciar sesión</h2>
      <div class="form-group">
        <label for="email">
          <i class="fa fa-envelope" aria-hidden="true"></i> Email:
        </label>
        <input type="email" id="email" formControlName="email" required>
      
        <div class="mb-3 text-danger" *ngIf="isEmailError()">
          <p *ngIf="hasRequiredError()">Este campo debe tener un email</p>
          <p *ngIf="hasEmailFormatError()">Ingresa un email válido</p>
        </div>
      </div>



            </div>
      <div class="form-group">
        <label for="password">
          <i class="fa fa-key" aria-hidden="true"></i> Contraseña:
        </label>
        <input type="password" id="password" formControlName="password" required>
        <div class="mb-3 text-danger" *ngIf="isPasswordError()">
          <p *ngIf="hasRequiredError()">Este campo debe tener una contraseña</p>
        </div>
      </div>

      </div>
      <button routerLink="/list1" [disabled]="loginForm.invalid" style="background-color: #ffab40; " type="submit" >Iniciar sesión</button>
    </form>
  </div>

