
<mat-toolbar color="primary">
  <i class="fa fa-car p-4" aria-hidden="true"> </i>
  <h1>Curso de conducir </h1>
  <span class="example-spacer"></span>

</mat-toolbar>
<div class="login-container">
  <form [formGroup]="loginForm" class="login-form">
    <h2>Iniciar sesión</h2>

    <div class="form-group">

      <label for="usuario">
        <i class="fa fa-envelope" aria-hidden="true"></i>Usuario:
      </label>

      <input [(ngModel)]="user.username" type="usuario" id="usuario" formControlName="usuario" required>
      <div class="mb-3 text-danger" *ngIf="usuariotxt?.errors && loginForm.get('usuario')?.touched">
        <p *ngIf="usuariotxt?.hasError('required')">Este campo debe tener un usuario</p>
        <p *ngIf="usuariotxt?.hasError('minlength')">El usuario debe tener al menos 4 caracteres</p>
        <p *ngIf="usuariotxt?.hasError('maxlength')">El usuario debe tener al máximo 10 caracteres</p>
      </div>
    </div>

    <div class="form-group">

      <label for="password">
        <i class="fa fa-key" aria-hidden="true"></i> Contraseña:
      </label>
      
      <input [(ngModel)]="user.pass" type="password" id="password" formControlName="password" required>
      <div class="mb-3 text-danger" *ngIf="contratxt?.errors && loginForm.get('password')?.touched">
        <p *ngIf="contratxt?.hasError('required')">Este campo debe tener una contraseña</p>
        <p *ngIf="contratxt?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</p>
        <p *ngIf="contratxt?.hasError('maxlength')">La contraseña debe tener al máximo 15 caracteres</p>
      </div>
    </div>

    <button  (click)="logIn()" [disabled]="loginForm.invalid" style="background-color: #ffab40; " >Iniciar sesión</button>
  </form>
</div>


<!-- 
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input [(ngModel)]="user.username" type="usuario" class="form-control">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Password</label>
  <input [(ngModel)]="user.pass" type="password" class="form-control">
</div>
<button class="btn btn-primary" (click)="logIn()">Ingresar</button> -->
