.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {

  max-width:80%; /* Máximo ancho permitido */
  padding: 70px 100px;
  background-color: #F0F8FF;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #039be5;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #039be5;
}

label i {
  margin-right: 10px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #039be5;
}



button {
  width: 100%;
  padding: 12px 20px;
  background-color: #ffab40;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

}

button:hover {
  background-color:#bd7c28;
}
